@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f4f5f7;
  font-family: Pretendard;
}


/* 헤더 */
.header-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
  border-bottom: 1px solid black;
}

.content-wrapper{
    margin-bottom: 30px;
}

.header-prev-button{
  font-size : 32px;
  border: none;
  background-color: #f4f5f7;
}

.header-title {
  align-items: center;
  margin: 0 70px;
  font-size: 35px;
}

/* 내용 */
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 내용 부분 헤더 */
.content-header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-header-title{
    font-size: 24px;
    font-weight: 700;
    margin: 24px;
}

.content-header-subtitle{
    width: 480px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 16px;
}

.content-header-subtitle-input{
    padding-left: 10px;
    padding-right: 10px;
    width: 480px;
    height: 60px;
    border: none;
    background-color: #f4f5f7;
    border-bottom: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    border-top: 1px solid black;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.content-header-subtitle-input::placeholder{
  font-size:16px;
  font-weight: 700;
}

.content-body-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.content-body-subtitle{
  width: 480px;
    text-align: left;
    margin-top: 21px;
}

.body-input-wrapper{
  position: relative;
  margin-top: 18px;
}

#body-input{
  width: 500px;
  margin: 0px;
  height: 300px;
  font-size: 15px;
  font-weight: 400;
  color: #838486;
  border: none;
  background-color: #f4f5f7;
  border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  border-top: 1px solid black;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}




/* content tail */

.content-tail-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 475px;
}

.content-tail-helper{
  font-size: 12px;
  font-weight: 400;
  color:#ff0000;
  text-align: left;
}

.content-tail-img-title{
  font-weight: 700;
  font-size:15px;
  margin-top: 11px;
  margin-bottom: 9px;
  margin-left: 5px;
}

/* 파일 선택 */

.file-upload-container {
  display: flex;
  align-items: center;
}

.content-tail-img-button {
  background-color: #D9D9D9;
  color: black;
  padding: 6px 12px;
  margin: 0px 3px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #000000
}

input[type="file"] {
  display: none;
}

/* 완료버튼 */

.content-complete-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.complete-button{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
  background-color: #ACA0EB;
  color: #fff;
  border-radius: 4px;
  width: 300px;
  height: 33px;
  margin: 30px 0;
}


