@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f4f5f7;
  font-family: Pretendard;
}
.content-delete-modal{
  display: none;
  position: fixed; 
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content-delete-modal .content-delete-modal-popup{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 30px;
  padding-bottom: 55px;
  padding-right: 65px;
  padding-left: 65px;
  background: #fff;
  border-radius: 12px;
}

.content-delete-modal-popup :nth-child(1){
  font-weight: 700;
  font-size: 24px;
  text-align: center;

}

.content-delete-modal-popup :nth-child(2){
  font-size: 20px;
  font-weight: 400;
  text-align: center;

}

.content-delete-modal-cancel{
  
  font-size: 20px;
  font-weight: 400;
  background-color: #242424;
  color: #fff;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 12px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.content-delete-modal-confirm{
  font-size: 20px;
  font-weight: 400;
  background-color: #c4a5fa;
  color: #000;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 8px;
  margin-left: 5px;
  padding-bottom: 8px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.content-delete-button:hover {
  box-shadow: 3px 4px 11px 0px #00000040;
}

/* 댓글 삭제 모달 */
.comment-delete-modal{
  display: none;
  position: fixed; 
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.comment-delete-modal .comment-delete-modal-popup{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 30px;
  padding-bottom: 55px;
  padding-right: 65px;
  padding-left: 65px;
  background: #fff;
  border-radius: 12px;
}

.comment-delete-modal-popup :nth-child(1){
  font-weight: 700;
  font-size: 24px;
  text-align: center;

}

.comment-delete-modal-popup :nth-child(2){
  font-size: 20px;
  font-weight: 400;
  text-align: center;

}

.comment-delete-modal-cancel{
  
  font-size: 20px;
  font-weight: 400;
  background-color: #242424;
  color: #fff;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 12px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.comment-delete-modal-confirm{
  font-size: 20px;
  font-weight: 400;
  background-color: #c4a5fa;
  color: #000;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 8px;
  margin-left: 5px;
  padding-bottom: 8px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.comment-delete-button:hover {
  box-shadow: 3px 4px 11px 0px #00000040;
}



/* 헤더 */
.header-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
  border-bottom: 1px solid black;
}

.header-prev-button{
  font-size : 32px;
  border: none;
  background-color: #f4f5f7;
}

.header-title {
  align-items: center;
  margin: 0 70px;
  font-size: 35px;
}

.content-title{
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px; 
  line-height: 31.2px;
  text-align: left;
}



/* 내용 */
.content-author-profile{
  display: flex;
  flex-direction: row;
}

.content-author-img{
  margin-right: 7px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-wrapper .main {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.content-author-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-author-date{
  font-size: 14px;
  font-weight: 400;
}


.content-author-profile .profile-image {
  width: 50px;
  height: 50px;
  border: 1px soild black;
  border-radius: 50%;
}

.content-button2 {
  display: flex;
  gap: 10px;
  
}

.content-delete-button{
  border: 1px solid #aca0eb;
  border-radius: 5px;
  padding: 5px 10px;
}


.content-edit-button{
  border: 1px solid #aca0eb;
  border-radius: 5px;
  padding: 5px 10px;
}

.content-edit-button:hover {
  box-shadow: 3px 4px 11px 0px #00000040;
}


.content-body {
  padding: 20px;
  border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.content-thumbnail {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.content-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.comment-edit-button:hover {
  box-shadow: 3px 4px 11px 0px #00000040;
}

.content-view-button,
.content-comment-button {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 12px;
  width: 80px;
  height: 60px;
  font-weight: 700;
}

.content-view-button p,
.content-comment-button p {
  margin: 0;
}

.content-view-button p:last-child,
.content-comment-button p:last-child {
  margin: 0;
  font-size: 12px;
}

/* 댓글 */
.comment-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 20px;
  font-size: 15px;
  line-height: 19.5px;
  text-align: left;

}

.comment-wrapper .comment-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 16px;
  overflow: hidden;
}

.comment-box-content {
  height: 80px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  padding-left: 10px;
  height: 100px;
}

.comment-box-submit-button-wrapper {
  text-align: right;
  padding: 5px 0;
}

.comment-box-submit-button {
  width: fit-content;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #aca0eb;
  color: white;
}

.comment-author-wrapper {
  display: flex;
  justify-content: space-between;
}
.comment-author {
  display: flex;
  flex-direction: column;
}

.comment-author-profile {
  font-weight: 700;
}
.comment-author-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comment-button {
  display: flex;
  align-items: center;
  gap: 7px;
}


.comment-button button {
  border: 1px solid #aca0eb;
  border-radius: 5px;
  padding: 5px 10px;
}

.modal {
  display: none; /* 기본적으로 모달을 숨깁니다. */
  position: fixed; /* 화면에 고정 */
  z-index: 1; /* 다른 요소 위에 표시 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  overflow: auto; /* 필요시 스크롤 */
  background-color: rgb(0, 0, 0); /* 배경 색상 */
  background-color: rgba(0, 0, 0, 0.4); /* 흑색 w/ 투명도 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 페이지 중앙에 위치 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 너비 */
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* :target을 사용하여 모달을 표시 */
:target {
  display: block;
}


