@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f4f5f7;
  font-family: Pretendard;
}


/* 헤더 */
.header-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
  border-bottom: 1px solid black;
}

.content-wrapper{
    margin-bottom: 30px;
}

.header-prev-button{
  font-size : 32px;
  border: none;
  background-color: #f4f5f7;
}

.header-title {
  align-items: center;
  margin: 0 70px;
  font-size: 35px;
}

/* 내용 */
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 내용 부분 헤더 */

.content-header{
  justify-content: center;
}

.content-header-title{
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  margin: 50px 200px 20px;  /* 상 우 좌 하*/
  width: fit-content;
}


.content-button{
  border: none;
  float: right;
  padding: 10px 30px;
  border-radius: 16px;
  background-color: #aca0eb;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

/* 내용 부분 바디 */



.content-author-wrapper{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  outline: none;
  margin-top: 17px;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 16px;
  box-shadow: 3px 4px 4px 0px #CCCCCC40;
  height: 120px;
  padding: 30px; /*흰색박스*/
  
}

.content-author-header{
  font-size: 24px;
  font-weight: 700;
  text-align: left;

}

.content-author-body-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

/* profile */

.content-author-profile{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 15px 0px;
}

.content-author-img{
  border: none;
  background-color: #fff;
}

.content-author-name{
  padding: 9px;
}

/* 페이지네이션 */
.page{
  text-align: center;
  width: 50%;
  
}

.pagination{
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;
}

.pagination li{
  display: inline;
  text-align: center;

}

.pagination a{
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5;
}

.first{
  margin-right: 15px;
}

.last{
  margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, right:hover{
  color: #2e9cdf;
}

.pagination a.active{
  outline: none;
}

.modal .num{
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.modal .num:hover{
  background-color: #2e9cdf;
  color: #fff;
}

.modal .num.active, .modal .num:active {
  background-color: #2e9cdf;
  cursor: pointer;
}

.arrow-left{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}





