
  /* 폰트 추가 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

  /* 페이지 설정 */
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f4f5f7;
    font-family: Pretendard;
}

.info-delete-modal{
    display: none;
    position: fixed; 
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
}

.info-delete-modal .info-delete-modal-popup{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 30px;
    padding-bottom: 55px;
    padding-right: 65px;
    padding-left: 65px;
    background: #fff;
    border-radius: 12px;
}

.info-delete-modal-popup :nth-child(1){
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.info-delete-modal-popup :nth-child(2){
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

.info-delete-modal-cancel{
    
    font-size: 20px;
    font-weight: 400;
    background-color: #242424;
    color: #fff;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.info-delete-modal-confirm{
    font-size: 20px;
    font-weight: 400;
    background-color: #c4a5fa;
    color: #000;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    margin-left: 5px;
    padding-bottom: 8px;
    border-radius: 12px;
    border: none;
}

.tail-resign-button:hover {
    box-shadow: 3px 4px 11px 0px #00000040;
}

  /* 헤더 */

.header-main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 30px;
    border-bottom: 1px solid black;
}

.content-wrapper{
    margin-bottom: 30px;
}

.header-prev-button{
    font-size : 32px;
    border: none;
    background-color: #f4f5f7;
}

.header-title {
    align-items: center;
    margin: 0 70px;
    font-size: 35px;
}

/* 헤더 메뉴 */
.image-menu-container {
    position: relative;
    display: inline-block;
}

.menu-toggle {
    display: none;
}

.menu-items {
    display: none;
    position: absolute;
    left: 0;
    top: 100%; /* 이미지 바로 아래 위치 */
    background-color: #d9d9d9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;/**/
    white-space: nowrap; /* 글자 세로로 안나오게 */
}

.menu-item {
    color: black;
    font-size: 12px;
    font-weight: 400;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 체크박스가 체크되었을 때 메뉴 표시 */
.menu-toggle:checked + .image-button + .menu-items {
    display: block;
}


/* main */
.body-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.body-profile-title{
    width: 100%; 
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 160px;
    margin-bottom: 15px;
}

.body-profile-name{
    width: 400px;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
}

/* 프로필이미지변경 */

.profile-img-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    z-index: 10;
}

.profile-upload-button{
    position: absolute;
    background-color: #00000059; /* 반투명 검은색 배경 */
    color: white;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    width: 52px;
    height: 27px;   
}


.profile-upload-button:hover{
    background-color: #00000059; /* 호버 시 더 어두운 배경 */
}


/* 회원정보수정내용 */

.profile-content-wrapper{  
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.profile-content-email-title{
    width: 400px;
    text-align: left;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    margin-top: 50px;
}

.profile-content-email{
    margin-top:16px;
}

.profile-content-name{
    margin-top: 16px;
    margin-bottom: 13px;
    font-size: 15px;
    font-weight: 700;
}

.profile-input{
    width: 384px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 1px;
}

.profile-content-helper{
    font-size: 12px;
    font-weight: 400;
    color: red;
}

.tail-button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tail-edit-button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    background-color: #ACA0EB;
    color: #fff;
    border-radius: 4px;
    width: 400px;
    height: 33px;
    margin: 10px 0;
}

.tail-resign-button{
    border: none;
    background-color: #f4f5f7;
}

.tail-complete-button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    background-color: #ACA0EB;
    color: #fff;
    border-radius: 30px;
    padding: 4px;
    width: 85px;
    height: 33px;
    margin-top: 50px;
}
